body{
    background-color:#232323;
    color:white;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap:1.5rem;
    flex-wrap:wrap;
    flex-direction:column;
}
h2{
    text-align:center;
    font-size: 2.5rem;
    text-decoration:underline;
    text-decoration-color:red;
    -moz-text-decoration-color:red;
}
.btn{
    padding:1em 2.5em;
    border:5px solid #f0f0f0;
    background-color: transparent;
    font-size: 1.5rem;
    position:relative;
    overflow: hidden;
    cursor: pointer;
    color:white;
}
/* Button 1 Origin from bottom-left and right*/
.btn-1::before{
    content:"";
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:#fff200;
    z-index:-1;
    transform-origin:bottom left;
    transform:rotate(-90deg);
    /* transform-origin:bottom right;
    transform:rotate(90deg); */
    transition:transform 1s;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transition:transform 1s;
    -moz-transition:transform 1s;
    -ms-transition:transform 1s;
    -o-transition:transform 1s;
}
.btn-1:hover::before{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
}
.btn-1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff200;
    transform-origin:bottom right;
    transform:rotate(90deg);
    transition:transform 1s;
    z-index:-1;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
}

.btn-1:hover::after {
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
}

/* Button 2 swipe effect */
.btn-2::before{
    content:"";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#235464;
    position:absolute;
    z-index:-1;
    transform:translateX(-100%);
    transition:all 1s;
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    -o-transform:translateX(-100%);
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
}
.btn-2:hover::before{
    transform:translateX(0);
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
}

/* Button 3  */
.btn-3::before{
    content:"";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:red;
    transform:rotateX(90deg);
    transition:all 1s;
    -webkit-transform:rotateX(90deg);
    -moz-transform:rotateX(90deg);
    -ms-transform:rotateX(90deg);
    -o-transform:rotateX(90deg);
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    z-index: -1;
}
.btn-3:hover::before{
    transform:rotateX(0deg);
    -webkit-transform:rotateX(0deg);
    -moz-transform:rotateX(0deg);
    -ms-transform:rotateX(0deg);
    -o-transform:rotateX(0deg);
}
.btn-3::after{
    content:"";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:red;
    transform:rotateY(90deg);
    transition:all 1s;
    -webkit-transform:rotateY(90deg);
    -moz-transform:rotateY(90deg);
    -ms-transform:rotateY(90deg);
    -o-transform:rotateY(90deg);
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    z-index: -1;
}
.btn-3:hover::after{
    transform:rotateY(0deg);
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateY(0deg);
    -ms-transform:rotateY(0deg);
    -o-transform:rotateY(0deg);
}

/* Button 4 */
.btn-4{
    padding:1em 1.9em;
    text-transform: uppercase;
    letter-spacing:1px;
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
}
.btn-4:hover{
    font-weight: 900;
    letter-spacing: 2px;
    border:10px solid red;
}

/* Button 5 */
.btn-5::before{
    content:"YEAH!";
    left: 0;
    top: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    transform:translateY(-100%);
    transition:all 0.7s;
    background-color:#df09df;
    -webkit-transform:translateY(-100%);
    -moz-transform:translateY(-100%);
    -ms-transform:translateY(-100%);
    -o-transform:translateY(-100%);
    -webkit-transition:all 0.7s;
    -moz-transition:all 0.7s;
    -ms-transition:all 0.7s;
    -o-transition:all 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-5:hover::before{
    transform:translateY(0);
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    -o-transform:translateY(0);
}

/* Button 6 */
.btn-6{
    transition:all 0.5s;
}
.btn-6:hover{
 background-color: orangered;
}
.btn-6::before{
    content:"";
    background-color:white;
    width: 100%;
    height: 30%;
    left: 0;
    top: 0;
    position: absolute;
    transform:translateX(-100%) rotate(45deg) ;
    transition:all 0.8s;
}
.btn-6:hover::before{
    transform:translateX(100%) rotate(45deg) ;
}

/* Button-7 */
.btn-7{
    background-color:#000;
    color:transparent;
}
.btn-7::before{
    content:"Hover Me";
    left: 0;
    top: 0;
    position: absolute;
    background-color:#fff200;
    color:#000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all 0.5s;
}
.btn-7:hover::before{
    transform:translate(100%,-100%);
}
.btn-7::after{
    content:"Hover Me";
    left: 0;
    top: 0;
    position: absolute;
    background-color:#fff200;
    color:#000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all 0.5s;
    transform:translate(-100%,100%);
}
.btn-7:hover::after{
    transform:translate(0,0);
}

/* Button-8 */
.btn-8{
    transition: all 0.5s;
}
.btn-8::before{
    content:"Hover Me";
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content:center;
    transform:scale(5);
    transition: all 0.5s;
    opacity: 0;
}
.btn-8:hover::before{
    transform:scale(1);
    opacity: 1;
}

/* Button-9 */
.btn-9:hover{
    transition:all 0.8s;
    border:5px solid tomato;
}
.btn-9::before{
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: tomato;
    border-radius: 0 0 50% 50%;
    z-index: -1;
    transition:all 0.8s;
}
.btn-9:hover::before{
    height: 200%;
}

/* Button-10 */
.btn-10::before, .btn-10::after{
    content: "Hover Me";
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:rotateX(270deg);
    transition:all 0.5s;
}
.btn-10::before{
    background-color:#2ce771;
    transform-origin: top;
}
.btn-10::after{
    background-color:red;
    transform-origin: bottom;
    transition-delay:0.30s;
}
.btn-10:hover::before, .btn-10:hover::after{
    transform:rotateX(0deg);
}

/* Button-11 */
.btn-11{
    border-color:#fff200;
    color:transparent;
}
.btn-11::before,.btn-11::after{
    content:"Hover Me";
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color:#fff200;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:#000;
    transition:all 0.5s;
}
.btn-11::before{
    left:0;
}
.btn-11::after{
    left:-100%;
    transform:scale(0) rotateY(0deg);
    opacity: 0;
}
.btn-11:hover::before{
    left: 100%;
    transform:scale(1) rotateY(360deg);
    opacity: 0;
}
.btn-11:hover::after{
    left:0;
    transform:scale(1) rotateY(360deg);
    opacity: 1;
}

/* Button-12 */
.btn-12{
    border:none;
    color:#ff0;
    text-transform:uppercase;
    transition:all 0.5s;
}
.btn-12::before,
.btn-12::after{
    content:"";
    top: 50%;
    position:absolute;
    width: 20px;
    height: 20px;
    background-color: #ff0;
    border-radius: 50%;
    transform:translateY(-50%);
    transition:all 0.3s;
    z-index:-1;
    opacity: 0;
}
.btn-12::before{
    left: 0;
    box-shadow:-100px 0 0 #ff0;
    transform:translateX(-50%) translateY(-50%);
}
.btn-12:hover::before{
    left: 50%;
    box-shadow:30px 0 0 #ff0;
    opacity: 1;
}
.btn-12::after{
    right: 0;
    box-shadow:100px 0 0 #ff0;
}
.btn-12:hover::after{
    right: 50%;
    box-shadow:-30px 0 0 #ff0;
    transform:translateX(50%) translateY(-50%);
    opacity: 1;
}
.btn-12 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff0;
    transform:scale(0);
    transition:all 0.3s;
    z-index:-1;
}
.btn-12:hover span {
    transform:scale(1);
    transition-delay: 0.4s;
}
.btn-12:hover{
    color:#111;
    transition-delay: 0.4s;
}

/* Button-13 */
.btn-13{
    border:none;
}
.btn-13::before,
.btn-13::after{
    content:"";
    position:absolute;
    width: 100%;
    height: 100%;
    z-index:-1;
    mix-blend-mode:difference;
    transition:all 0.2s;
}
.btn-13::before{
    top: -3px;
    left: -3px;
    background-color: #20caff;
    transform-origin:top;
}
.btn-13::after{
    top: 3px;
    left: 3px;
    background-color: #ff7675;
    transform-origin:bottom;
}
.btn-13:hover::before{
    top: -6px;
    left: 0;
    transform:perspective(1000px) rotateX(75deg);
}
.btn-13:hover::after{
    top: 6px;
    left: 0;
    transform:perspective(1000px) rotateX(-75deg);
}
