body{
    height: 100vh;
    background-color: #fff165;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.menu__wrapper{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* height: 5rem; */
}
.menu__list{
    list-style: none;
    /* margin: 0  1rem; */
}
.menu__link ,
.menu__link-2, .menu__link-3, .menu__link-4,
.menu__link-6, .menu__link-7
{
    text-decoration: none;
    color: #3d3d3d;
    font-size: 1.5rem;
    display: block;
    font-weight: 500;
    padding: 5px 15px;
    margin:0px 10px;
    position:relative;
    text-transform:uppercase;
    text-align: center;
}

.menu__link::before{
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3d3d3d;
    transition:all 0.5s;
    transform:scaleX(0);
    transform-origin:left;
    -webkit-transform:scaleX(0);
    -moz-transform:scaleX(0);
    -ms-transform:scaleX(0);
    -o-transform:scaleX(0);
}

.menu__link:hover::before,
.menu__link:hover::after{
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -moz-transform:scaleX(1);
    -ms-transform:scaleX(1);
    -o-transform:scaleX(1);
}

.menu__link::after{
    content:"";
    position:absolute;
    bottom: 0;
    /* left: 0; */
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #3d3d3d;
    transition:all 0.5s;
    transform:scaleX(0);
    transform-origin:right;
    -webkit-transform:scaleX(0);
    -moz-transform:scaleX(0);
    -ms-transform:scaleX(0);
    -o-transform:scaleX(0);
}

/* Menu-2 start */
.menu__link-2:hover{
    background-color: #e91e63;
    color:white;
}
.menu__link-2::before, .menu__link-2::after{
    content:"";
    position:absolute;
    width: 12px;
    height: 12px;
    border:3px solid #e91e63;
    opacity: 0;
    transition:all 0.3s ;
    -webkit-transition:all 0.3s ;
    -moz-transition:all 0.3s ;
    -ms-transition:all 0.3s ;
    -o-transition:all 0.3s ;
}
.menu__link-2::before{
    bottom: 12px;
    left: 12px;
}
.menu__link-2:hover::before{
    opacity: 1;
    bottom:-8px;
    left: -8px;
    border-width:0  0  3px 3px;
}
.menu__link-2::after{
    top: 12px;
    right: 12px;
    border-width:3px 3px 0 0;
}
.menu__link-2:hover::after{
    top: -8px;
    right: -8px;
    opacity: 1;
}
/* Menu-2 End */

/* === Menu-3 start === */
.menu__link-3{
    color:#262626;
    display: block;
    width: 130px;
    height: 30px;
    position: relative;
    transition:all 0.7s;
    padding-top: 10px;
}
.menu__link-3:hover{
    color:#ffffff;
}
.menu__link-3 span{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #262626;
    z-index:-1;
    left: 0;
    top: 0;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: top;
}
.menu__link-3:hover span{
    transform:scaleY(1);
}
.menu__link-3 span:nth-child(2){
    left:25%;
    transition-delay:0.15s;
}
.menu__link-3 span:nth-child(3){
  left:50%;
  transition-delay:0.3s;
}
.menu__link-3 span:nth-child(4){
    left:75%;
    transition-delay:0.45s;
}
/* === Menu-3 end === */

/* === Menu-4 start === */
.menu__link-4{
    position:relative;
    padding:2px 5px;
}
.menu__link-4::before{
    content:"";
    position:absolute;
    width: 0;
    height: 5px;
    background-color: #00bcd4;
    top: 120%;
    left: 0;
    transition:all 0.5s;
}
.menu__link-4::after{
    content:"";
    position:absolute;
    width: 0;
    height: 5px;
    background-color: #f0f;
    top: 120%;
    right: 0;
    transition:all 0.5s;
}
.menu__link-4:hover::before{
    width: 50%;
    transform:translateX(100%);
}
.menu__link-4:hover::after{
    width: 50%;
    transform:translateX(-100%);
}
/* === Menu-4 end === */

/* === Menu-5 start === */
.menu-wrapper-5{
    display: flex;
    /* flex-direction: column; */
    align-items:center;
    justify-content:center;
}
.menu-wrapper-5 .menu__list{
    position: relative;
    list-style:none;
    margin: 5px;
}
.menu__link-5{
    position:relative;
    display: block;
    height: 40px;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 300;
    letter-spacing: 2px;
    overflow:hidden;
    color:#262626;
    font-size: 20px;
    text-transform: uppercase;
}
.menu__link-5:hover{
    color:white;
    transition-delay:0.5s;
}
.menu__link-5  span{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:0.5s;
    /* transition-delay:0.5s; */
}
.menu__link-5:hover span:nth-child(1){
    transform:translateY(-100%);
    transition-delay:0s;
}
.menu__link-5:hover span:nth-child(2){
    transform:translateY(-100%);
    transition-delay:0s;
}
.menu__link-5::before{
    content:"";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform:scaleX(0);
    transform-origin:left;
    transition:0.5s;
}
.menu__link-5:hover::before{
    transform:scaleX(1);
    transition-delay:0.5s;
}
/* === Menu-5 end === */

/* === Menu-6 start === */
.menu__link-6{
    font-weight: 600;
    transition:0.5s;
}
.menu__link-6:hover{
    color:#fff;
    transition:0.5s;
}
.menu__link-6::before,
.menu__link-6::after{
    content:"";
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.menu__link-6::before{
    opacity: 0;
    transform:scaleY(2);
    transition:0.5s;
    border-block:2px solid black;
}
.menu__link-6:hover::before{
    transform:scaleY(1.2);
    opacity:1;
}
.menu__link-6::after{
    top:2px;
    background-color: #222;
    transition:0.5s;
    transform:scale(0);
    z-index:-1;
}
.menu__link-6:hover::after{
    transform:scale(1);
}
/* === Menu-6 end === */


/* === Menu-7 start === */
.menu__link-7 {
    position:relative;
}
.menu__link-7:hover{
     color:red;
}
.span-1::before{
    content:"";
    position:absolute;
    background-color:transparent;
    width: 10px;
    height: 10px;
    transition:0.2s;
    top: 0;
    left: 0;
    border-top:2px solid red;
    border-left:2px solid red;
    opacity: 0;
}
.span-1::after{
    content:"";
    position:absolute;
    background-color:transparent;
    width: 10px;
    height: 10px;
    transition:0.2s;
    top: 0;
    right: 0;
    border-top:2px solid red;
    border-right:2px solid red;
    opacity: 0;
}
.span-2::before{
    content:"";
    position:absolute;
    background-color:transparent;
    width: 10px;
    height: 10px;
    transition:0.2s;
    bottom: 0;
    left: 0;
    border-bottom:2px solid red;
    border-left:2px solid red;
    opacity: 0;
}
.span-2::after{
    content:"";
    position:absolute;
    background-color:transparent;
    width: 10px;
    height: 10px;
    transition:0.2s;
    bottom: 0;
    right: 0;
    border-bottom:2px solid red;
    border-right:2px solid red;
    opacity: 0;
}

.menu__link-7:hover .span-1::before{
    top:-10px;
    left: -10px;
    opacity: 1;
}
.menu__link-7:hover .span-1::after{
    top:-10px;
    right: -10px;
     opacity: 1;
}
.menu__link-7:hover .span-2::before{
    bottom:-10px;
    left: -10px;
     opacity: 1;
}
.menu__link-7:hover .span-2::after{
    bottom:-10px;
    right: -10px;
     opacity: 1;
}




/* === Menu-7 end === */