body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    perspective: 200px;
}
.cs-title{
    text-align: center;
    color: white;
    font-family: arial;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 15px;
    text-shadow:0 1px 0 #3acd09, 0 2px 0 #07e303, 0 3px 0 #09e70d, 0 4px 0 #2dd407, 0 30px 5px rgba(38, 245, 1, 0);
    animation:float-text 3s linear infinite;
    -webkit-animation:float-text 3s linear infinite;
    animation-direction: alternate;
}


@keyframes float-text {
    from{
        transform:rotate(5deg);
    }
    to{
        transform:rotate(-5deg);
    }
}


.loading{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius:12px;
    animation:loading 3s linear infinite;
    -webkit-animation:loading 3s linear infi;
}

@keyframes loading{
    0%{
        transform:rotateX(0deg) rotateY(0deg);
    }
    50%{
        transform:rotateX(0deg) rotateY(180deg);
    }
    100%{
        transform:rotateX(180deg) rotateY(180deg);
    }
}